-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
%h1 Admin View
.container-fluid
  .row
    %p.status-marker.col-md-4
      = link_to "Streams Settings", streams_path, class: "btn btn-info"
    %p.status-marker.col-md-4
      = link_to "Subjects List", subjects_path, class: "btn btn-info"
    %p.status-marker.col-md-4
      = link_to "Subject and Stream Map", sub_str_maps_path, class: "btn btn-info"
