-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
- provide(:title, "Help")

%h1 Welcome to Admission Site Help page


%p
  This is our college admission site. This site aims to simplfy the admission process and also make it process
  transparent. Our guided form fillup is self explanatory and is very easy. There are a total 3 steps to complete
  registration process. To do fillup the form you have to register yourself that means you need to register for an
  account. After you logged in you will be prompted to fill your personal information after that you will asked to provide
  your academic details and finally you can choose your stream
