-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
- provide(:title, "Home")
- if  is_verifier?
  %h1
    Verifiers Page

  .row
    .col-md-2.col-md-offset-5
      = link_to "Verifer page", verify_path, class: "btn btn-primary btn-lg"
- else
  = render 'user'
  = render 'userdata'
