-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
- provide(:title, "Home")
- if is_admin?
  = render 'admin'
- elsif  is_verifier?
  = render 'verify'
- else
  = render 'user'
  = render 'userdata'
