@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
$greenish-color: #084A1A;
$def-border-radius: 5px;
$bak-error: #FFC6C6;
$bak-error: #F3A9A9;

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Droid Sans', sans-serif;
  padding: 10px;
  min-height: 100%;
  h1 {
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 0px 15px;
  }
  label {
    color: #0B610B;
  }
  footer {
    padding: 10px 15px;
    background-color: #12BE4E;
    border-radius: $def-border-radius;
    color: $greenish-color;
    .footer-right {
      float: right;
      a {
        color: $greenish-color;
        text-decoration: none;
        &:hover {
          background-color: #FFFF00;
          color: #000000;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  body {
    width: 100%;
    margin: 50px 0 0 0;
    }
  .sign {
    margin: 10px 0px;
  }
}

@media (max-height: 300px) {
  footer{
    display: none;
  }
}

.signing {
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  input[type="email"], input[type="password"], input[type="submit"], input[type="text"] {
    width: 100%;
    padding: 2px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #cccccc;
    color: #5C3921;
  }
}



.field_with_errors {
  @extend .control-group;
  @extend .error;
  input {
    border: 1px solid red;
    &:focus {
      border: 1px solid red
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    font-size: 20px;
    background-color: $bak-error;
    padding: 8px;
    border-radius: 5px;
  }
}


.alert {
  margin: 5px 10px;
}


.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

.status-marker {
  text-align: center;
}

.table {
  text-align: center;
}

thead {
  font-weight: bolder;
}

.table-custom {
  width: 100%;
  th, td {
    text-align: center;
    width: 50%
  }
}

.carousel-inner {
    .item > img  {
    width: 100%;
    height:200px;
  }
  max-height: 200px;
  overflow: hidden;
}

.input-group-addon {
  height: 15px;
}

.modifieddropdown {
  .userphoto {
    float: left;
    border-radius: 50%;
    border: 3px solid #0F5E06;
    margin-top: -14px;
  }
}

#admin-area {
  border-top: 1px solid #14BBD5;
  margin-top: 5px;
  padding-top: 20px;
}
.form-declaration {
  font-style: italic;
  text-align: center;
}

.three-steps {
  color: #319E31;
  text-align: center;
  font-size: 24px;
}
.steps {
  color: #1C1C1C;
  font-size: 20px;
  text-align: center;
}

.center-btn {
  margin: 20px auto;
}

.tenth-details {
  padding: 5px 10px;;
  border: 1px solid #088A08;
  margin-bottom: 10px;
  border-radius: 5px;
}

#search-input {
  width: 80%;
}
