* {
  padding: 0px;
  margin: 0px;
}
body {
    background-color: #fff;
    color: #111;
    margin: 0;
    width: 100%;
}
header, footer {
  display: none;
}
.personal {
  margin-right: 4%;;
}
table {
    border-collapse: collapse;
    float: left;
    width: 48%;
}

table, td, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}
#printh1 {
  border: 1px solid black;
  padding: 10px 0;
  margin: 0 0 10px 0;
}
img {
 border: 1px solid black;
}
