-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
#carousel-example-generic.col-md-6.col-sm-6.carousel.slide{data: {ride: "carousel"}}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{:alt => "Degree", :src => "http://i62.tinypic.com/20p7spv.jpg", :width => "500", :height=> "250"}/
      .carousel-caption
        %h3 Degree
        %p Get a degree
    .item
      %img{:alt => "College", :src => "http://i61.tinypic.com/jt9aic.jpg",  :width => "500", :height=> "250"}/
      .carousel-caption
        %h3 Study Abroad
        %p Oppurtunities
    .item.active
      %img{:alt => "uit", :src=> "http://i62.tinypic.com/2r2818x.jpg",  :width => "500", :height=> "250"}/
      .carousel-caption
        %h3 UIT
        %p Best College
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
